<h1>Edit Profile</h1>
<div class="main-agileinfo">
    <div class="agileits-top">
        <form action="/users/me/edit" method="post">
            <input class="text email" type="text" name="Email" placeholder="Email" required="" value="{{ .User.Email }}">
            <input class="text email" type="text" name="FirstName" placeholder="First Name" required="" value="{{ .User.FirstName }}">
            <input class="text email" type="text" name="LastName" placeholder="Last Name" required="" value="{{ .User.LastName }}">
            <input class="text email" type="text" name="Address" placeholder="Address" required="" value="{{ .User.Address }}">
            <input class="text email" type="text" name="PhoneNumber" placeholder="PhoneNumber" required="" value="{{ .User.PhoneNumber }}">
            <input type="submit" value="SAVE CHANGES">
        </form>
    </div>
</div>
