<h1>Login Form</h1>
<div class="main-agileinfo">
    <div class="agileits-top">
        <form action="/login" method="post">
            <input class="text email" type="email" name="Email" placeholder="Email" required="" value="{{ .Email }}">
            <input class="text" type="password" name="Password" placeholder="Password" required="">
            <input type="submit" value="LOGIN">
        </form>

        {{/*<div class="g-signin2" data-onsuccess="onSignIn"></div>*/}}
        <br />
        <p>Forgot password? <a href="/password/reset">Reset password</a></p>
        <br />
        <p>Don't have an account? <a href="/signup">Sign Up</a></p>
    </div>
</div>

<script src="https://apis.google.com/js/platform.js" async defer></script>
<script type="text/javascript">
    function onSignIn(googleUser) {
        var profile = googleUser.getBasicProfile();
        console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
        console.log('Name: ' + profile.getName());
        console.log('Image URL: ' + profile.getImageUrl());
        console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
    }
</script>
