<h1>Profile Info</h1>
<div class="main-agileinfo">
    <div class="agileits-top">
        <p>{{ .User.Email }}</p>
        <p>{{ .User.FirstName }}</p>
        <p>{{ .User.LastName }}</p>
        <p>{{ .User.Address }}</p>
        <p>{{ .User.PhoneNumber }}</p>
        <br /><br />
        <p><a href="/users/me/edit">Edit Profile</a></p>
        <br /><br />
        <p><a href="/logout">Logout</a></p>
    </div>
</div>
