<h1>Reset Password Form</h1>
<div class="main-agileinfo">
    <div class="agileits-top">
        <form action="/password/reset" method="post">
            <input class="text email" type="email" name="Email" placeholder="Email" required="" value="{{ .Email }}">
            <input type="submit" value="RESET PASSWORD">
        </form>
    </div>
</div>
