<h1>Reset Password</h1>
<div class="main-agileinfo">
    <div class="agileits-top">
        <form action="/password/set" method="post">
            <input class="text" type="password" name="Password" placeholder="Password" required="">
            <input class="text w3lpass" type="password" name="ConfirmPassword" placeholder="Confirm Password" required="">
            <input type="hidden" name="UserID" value="{{ .UserID }}" >
            <input type="hidden" name="ResetToken" value="{{ .ResetToken }}" >
            <input type="submit" value="SET PASSWORD">
        </form>
    </div>
</div>
