<h1>SignUp Form</h1>
<div class="main-agileinfo">
    <div class="agileits-top">
        <form action="/signup" method="post">
            <input class="text email" type="email" name="Email" placeholder="Email" required="" value="{{ .Email }}">
            <input class="text" type="password" name="Password" placeholder="Password" required="">
            <input class="text w3lpass" type="password" name="ConfirmPassword" placeholder="Confirm Password" required="">
            <div class="wthree-text">
                <label class="anim">
                    <input type="checkbox" class="checkbox" required="">
                    <span>I Agree To The Terms & Conditions</span>
                </label>
                <div class="clear"> </div>
            </div>
            <input type="submit" value="SIGNUP">
        </form>
        <p>Already have an account? <a href="/login"> Login </a></p>
    </div>
</div>
